<div>
    <div>
        <app-header></app-header>
    </div>
    <div class="img">
        <div class="letras">
            <div class="letras-dc">
                <p>
                    <strong class="black-color"> Abra una Cuenta</strong> <strong class="red-color"> Móvil Nómina </strong>
                </p>
                <p ><strong class="red-color">
                    y solicite crédito para lograr lo que quiere.</strong>
                </p>
                <p><strong class="red-color">
                    si es por, libranza reciba aún las mejores tasas.</strong>
                </p>
            </div>
            <div class="mt-5">
                <button 
                    (click)="redireccion()"
                    type="button" class="btn btn-primary">Consultar Productos Cliente</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
